[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[46837a2e-1a1c-43ae-a755-8a782ca1ca3b]
row=0
col=0

[000A3AD80A3ACB04]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/cezar]
row=4
col=0

